.payment-cash {
  @include flexSort(space-between, center);
  @include commonBorder(5px);
  flex-direction: column;
  background: lightgray;
  padding: 10px;
  gap: 10px;

  .cash-type-list {
    @include commonBorder(2px);
    @include flexSort(center, center);
    list-style: none;
    flex-wrap: wrap;
    padding: 15px;
    background: #fff;
    gap: 20px;
    max-height: 100px;
    overflow-y: auto;

    li {
      @include commonBorder(2px);
      padding: 0 10px;
      height: 30px;
      line-height: 30px;
      background-color: green;
      text-align: center;
      color: #fff;
      cursor: pointer;
    }
  }
}
