@mixin flexSort($justify, $alignItems) {
  display: flex;
  justify-content: $justify;
  align-items: $alignItems;
}

@mixin commonBorder($width) {
  border: $width solid #695e51;
  border-radius: 10px;
}
