@forward "mixins";

@use "mixins";

// Button Styles
.button-box {
  @include mixins.flexSort(center, center);
  gap: 10px;
}

.button {
  @include mixins.commonBorder(2px);
  height: 30px;
  width: 100px;
  font-weight: bold;
  cursor: pointer;

  &.highlight {
    background-color: #000;
    color: #fff;
  }
}

// Flex Box Styles
.flex-col {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
